{% extends "base.html" %}
{% load static pages_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<section id="about">
    <div class="container">
        <div class="row" id="title-row">
            <h1 class="col text-center display-3 text-uppercase ">MEET THE BROS</h1>
        </div>
        <p>
            Just 2 Bro's giving you some fire sports picks everyday! Make some money with the boys at BROSKI BETS. 
            2 Professional Handicappers giving you nothing but straight fire locks everyday.
            Not only do we make you money but we do weekly recaps to help you pick your favorite capper (Kane or Scott).
            Follow us on Instagram @broskibets to see documented picks and data daily. Hit us up using <a href="{% url 'go-vip' %}">this form </a>
            or on social media if you need help understand sports betting and how it works. 
            Meet you at the cashier. 
        </p>

        <div class="about-row">
            <h3 class="display-5 text-uppercase text-center">Why trust us?</h3>
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <h1 class="stats display-3 text-center">71%</h1>
                    <p class="text-center">VIP success rate</p>
                </div>

                <div class="col-xs-12 col-md-4">
                    <h1 class="stats display-3 text-center counter" id="clients" data-count="200">0</h1>
                    <p class="text-center">satisfied clients</p>
                </div>

                <div class="col-xs-12 col-md-4">
                    <h1 class="stats display-3 text-center counter" data-count="{% days_since_day_1 %}">0</h1>
                    <p class="text-center">days straight of custom picks</p>
                </div>
            </div>
        </div>

        <div class="about-row">
            <h3 class="display-5 text-uppercase text-center">Hungry for more?</h3>
            <div id="goVIP"  class="row justify-content-center">
                <a href="{% url 'go-vip' %}">
                    <button class="btn btn-outline-primary btn-default text-uppercase goVIPBtn">
                        Go VIP
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/about.js' %}"></script>
{% endblock %}