input, textarea {
    border: 2px solid #dadada;
    border-radius: 7px;
}

input:focus, textarea:focus {
    outline: none;
    border-color: green;
    box-shadow: 0 0 10px green;
}

textarea {
    resize: none;
    width: 100%;
    height: auto;
}

#contact {
    padding-top: 15px;
}

.logo-div {
    width: 50%;
}

.logos-row {
    width: 100%;
    margin: auto;
}