input, textarea {
    border: 2px solid #dadada;
    border-radius: 7px;
}

input:focus, textarea:focus {
    outline: none;
    border-color: green;
    box-shadow: 0 0 10px green;
}

textarea {
    resize: none;
    width: 100%;
    height: auto;
}

#contact {
    padding-top: 15px;
}

@media (max-width:768px) {
    #insta-logo {
        margin-bottom: 10px;
    }
}