/* ---------- START TITLE SECTION STYLE ----------- */
#title {
  height: calc(92vh - 56px);
  width: 100%;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#title h1 {
  font-size: 6rem;
  color: green;
}

#title .row {
  margin-top: auto;
}

@media (min-width:768px) {
  #title h1 {
    font-size: 14rem;
  }
}

html {
  scroll-behavior: smooth;
}

#down-arrow {
  padding-bottom: 20px;
}

#anchor {
  position: absolute;
  margin-top: -55px;
}
/* ---------- END TITLE SECTION STYLE ----------- */



/* ---------- START VIDEO PLAYER SECTION STYLE ----------- */
#video-player {
  height: calc(95vh - 56px);
}

#video-player iframe {
  height: 100%;
}
/* ---------- END VIDEO PLAYER SECTION STYLE ----------- */



/* ---------- START PICKS SECTION STYLE ----------- */
#picks {
  background-color:  #09421f;
  background-image: linear-gradient(to bottom, #09421f, white);
}

#test-img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

h1, h3 {
  color: white;
}

td {
  border: 2px solid #09421f;
  padding-left: 10px;
  color: #09421f;
  background-color: white;
  height: 50px;
  font-size: 1.2rem;
}

table {
  width: 100%;
}

#picks-container {
  padding-bottom: 0!important;
}

@media (min-width:768px) {
  #scott-col {
    padding-right: 0;
  }
  
  #kane-col {
    padding-left: 0;
  }

  .no-border-left {
    border-left: none;
  }

  .no-border-right {
    border-right: none;
  }
}

@media (max-width:768px) {
  #scott-table tr:last-child td {
    border-bottom: none;
  }

  #picks-container .row .display-3 {
    font-size: 3.75rem;
  }
}
/* ---------- END PICKS SECTION STYLE ----------- */

footer {
  margin: 0;
}