body {
    padding-top: 50px;
}

.goVIPBtn {
    margin-top: 10px;
    border: 1px solid green;
    color: white;
    background-color: green;
}

.goVIPBtn:hover {
    border: 1px solid green;
    color: green;
    background-color: white;
}

footer {
    margin-top: 20px;
}

a {
    color: green;
}

a:hover {
    color: #09421f;
    text-decoration: none;
}

.logos {
    font-weight: 300;
    line-height: 1.2;
}