<footer class="bg-light text-muted">
    <section id="connect" class="d-flex justify-content-between mx-auto py-3 border-bottom">
        <div class="my-auto">Connect with us</div>
        <div id="connect-icons">
            <a href="https://www.youtube.com/c/BroskiBets" target="_blank" class="mr-4">
                <i class="fab fa-youtube fa-2x"></i>
            </a>
            <a href="https://www.instagram.com/broskibets/" target="_blank" class="mr-4">
                <i class="fab fa-instagram fa-2x"></i>
              </a>
            <a href="https://twitter.com/broskibets?lang=en" target="_blank">
              <i class="fab fa-twitter fa-2x"></i>
            </a>
          </div>
    </section>
    <section id="other-info" class="mx-auto py-2 d-flex">
            <div class="footer-col">
                <h4 class="text-uppercase fw-bold mb-4">
                    <a href="{% url 'home' %}" class="no-green"><img src="../static/images/icon.png" width="80px"/></a>
                </h4>
            </div>
            <div class="ml-auto footer-col">
                <h6 class="text-uppercase fw-bold mb-4">
                    Contact
                </h6>
                <p><i class="fas fa-envelope fa-lg"></i> 
                    <a href="mailto:broskibets@gmail.com">broskibets@gmail.com</a>
                </p>
                <p><i class="fab fa-instagram fa-lg"></i>
                    <a href="https://www.instagram.com/direct/t/340282366841710300949128174349936492858" target="_blank">
                        @broskibets
                    </a>
                </p>
            </div>
    </section>
</footer>